<div class="price-box price-box-dark <%= 'price-box-featured' if featured %>">
  
  <% if featured %>
    <div class="price-box-ribbon">Popular</div>
  <% end %>
  
  <div class="pr-box price-heading">
    <i class="<%= icon %>"></i>
    <h3 class="price-title"><%= title %></h3>
    <div class="price-heading-text"><%= heading %></div>
  </div>
  <div class="pr-box price-box-price">
    <div class="price"><span class="price-currency">$</span><%= price %></div>
    <div class="price-tenure">Per Month</div>
  </div>
  <div class="pr-box price-features">
    <ul class="list-unstyled">
      <% features.each do |item| %>
        <li><%= item.to_s %></li>
      <% end %>
    </ul>
  </div>
  <div class="pr-box price-footer">
    <a href="#" class="btn btn-white-bordered btn-rounded">Order Now</a>
  </div>
</div>

