<header id="header" class="clearfix">
  <!-- Logo -->
  <a class="logo">Overseer</a>

  <ul class="nav nav-pills pull-right shadowed" id="top-menu">
    <li><%= link_to 'Home', userpanel_index_path %></li>
    
    <li class="dropdown">
      <%= link_to '#', class: 'dropdown_toggle', 'data-toggle' => 'dropdown' do %>
        User<b class="caret"></b>
        <ul class="dropdown-menu pull-right text-right">
          <li><%= link_to 'Edit Settings', '' %></li>
          <li><%= link_to 'User Profile', '' %></li>
          <li class="divider"></li>
          <li><%= link_to 'Logout', '' %></li>
        </ul>
      <% end %>
    </li>
  </ul>

</header>
