<!--
* Use class "angle-left-top", "angle-right-top", "angle-left-bottom", "angle-right-bottom" to change section angle.
* Use class "bg-image-fixed" to make background image fixed (otherwise use class "bg-image").
* Use class "bg-image-parallax" to enable background image parallax effect (otherwise use class "bg-image").
* Use class "bg-pattern" if you use background patterns (example: http://subtlepatterns.com/). Combine with class "bg-image-fixed".
-->			
<section id="section-4" class="prices-section angle-right-top angle-left-bottom bg-image-parallax">

  <!-- Element cover
        ===================
        * Use background transparent color classes for colored opacity (example: "bg-transparent-6-dark", "bg-transparent-8-5-red" ... 1 to 95). Look into "helper.css" file for more info.  
        -->
  <span class="cover bg-transparent-9-5-white"></span>

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <!-- Begin heading 
              ===================
              * Use class "heading-center" or "heading-right" to align heading.
              * Use class "heading-xs", "heading-sm", "heading-md", "heading-lg" or "heading-xlg" to shange heading size.
              * Use class "heading-hover" to enable heading hover effect.
              * Use class "heading-uppercase" to enable uppercase letters.
              -->
        <div class="heading heading-lg heading-hover wow fadeIn">
          <span class="heading-title-ghost">Pricing</span>
          <h2 class="heading-title">Pricing</h2>

          <!-- Begin divider 
                ===================
                * Use class "hr-width-1", "hr-width-2" -> up to "hr-width-10" to shange divider width.
                * Use class "hr-1x", "hr-2x", "hr-3x", "hr-4x" or "hr-5x" to shange divider size.
                * Use class "hr-dotted", "hr-dashed" or "hr-double" to shange divider style.
                -->
          <hr class="hr-width-1 hr-5x border-main">
          <!-- End divider -->

        </div>
        <!-- End heading -->

      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->

  <div class="container wow fadeIn">
    <div class="row">
      
      <%= render 'layouts/pricing/infobox',
        box_title: 'Consectetur Adipis',
        box_text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit minim veniam ut enim.',
        box_icon: 'fa fa-usd'
      %>

      <%= render 'layouts/pricing/infobox',
        box_title: 'Excepteur Sint',
        box_text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit minim veniam ut enim.',
        box_icon: 'fa fa-bar-chart'
      %>

      <%= render 'layouts/pricing/infobox',
        box_title: 'Cillum Dolore',
        box_text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit minim veniam ut enim.',
        box_icon: 'fa fa-balance-scale'
      %>

    </div> <!-- /.row -->
  </div> <!-- /.container -->

  <!-- Begin prices -->
  <div class="prices wow fadeIn" data-wow-delay="0.6s">
    <div class="container">

      <!-- Begin content carousel (http://www.owlcarousel.owlgraphic.com)
            ====================================================================
            * Use class "nav-outside" for outside nav.
            * Use class "nav-outside-top" for outside top nav.
            * Use class "nav-rounded" for rounded nav.
            * Use class "dots-outside" for outside dots.
            * Use class "dots-left" or "dots-right" to align dots.
            * Use class "dots-rounded" for rounded dots.
            * Available carousel data attributes:
                data-items="5".......................(items visible on desktop)
                data-tablet-landscape="4"............(items visible on mobiles)
                data-tablet-portrait="3".............(items visible on mobiles)
                data-mobile-landscape="2"............(items visible on tablets)
                data-mobile-portrait="1".............(items visible on tablets)
                data-loop="true".....................(true/false)
                data-margin="10".....................(space between items)
                data-center="true"...................(true/false)
                data-start-position="0"..............(item start position)
                data-animate-in="fadeIn".............(more animations: http://daneden.github.io/animate.css/)
                data-animate-out="fadeOut"...........(more animations: http://daneden.github.io/animate.css/)
                data-mouse-drag="false"..............(true/false)
                data-touch-drag="false"..............(true/false)
                data-autoheight="true"...............(true/false)
                data-autoplay="true".................(true/false)
                data-autoplay-timeout="5000".........(milliseconds)
                data-autoplay-hover-pause="true".....(true/false)
                data-autoplay-speed="800"............(milliseconds)
                data-drag-end-speed="800"............(milliseconds)
                data-lazy-load="true"................(true/false)
                data-nav="true"......................(true/false)
                data-nav-speed="800".................(milliseconds)
                data-dots="false"....................(true/false)
                data-dots-speed="800"................(milliseconds)
            -->
      <div class="owl-carousel prices-carousel dots-outside nav-outside-top" data-items="4" data-margin="15" data-nav="true" data-tablet-landscape="3" data-tablet-portrait="3" data-mobile-landscape="2" data-mobile-portrait="1">

        <!-- Begin price box 
              ======================
              * Use class "price-box-dark" for dark style.
              -->

        <%= render 'layouts/pricing/pricebox',
          title: 'Light',
          heading: 'Light Membership',
          price: '69',
          icon: 'fa fa-plug',
          features: [
            'Personal Use',
            '5 Projects',
            '1 Month License',
            '24/7 Support'
          ],
          featured: false
        %>

        <%= render 'layouts/pricing/pricebox',
          title: 'Basic',
          heading: 'Basic Membership',
          price: '99',
          icon: 'fa fa-gavel fa-2x',
          features: [
            'Personal Use',
            '10 Projects',
            '1 Month License',
            '24/7 Support'
          ],
          featured: false
        %>

        <%= render 'layouts/pricing/pricebox',
          title: 'Popular',
          heading: 'Light Membership',
          price: '149',
          icon: 'fa fa-plug',
          features: [
            'Personal Use',
            '5 Projects',
            '1 Month License',
            '24/7 Support'
          ],
          featured: true
        %>

      </div>
      <!-- End prices carousel -->

    </div> <!-- /.container -->
  </div>
  <!-- End prices -->

</section>

